<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GroceryUser.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7876EABCEE091001DCF94047393D204999316D52</string>
				<key>dateExpires</key>
				<string>09/07/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7876EABCEE091001DCF94047393D204999316D52</string>
						<key>dateExpires</key>
						<string>09/07/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ADCountryPicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7876EABCEE091001DCF94047393D204999316D52</string>
						<key>dateExpires</key>
						<string>09/07/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7876EABCEE091001DCF94047393D204999316D52</string>
						<key>dateExpires</key>
						<string>09/07/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7876EABCEE091001DCF94047393D204999316D52</string>
						<key>dateExpires</key>
						<string>09/07/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7876EABCEE091001DCF94047393D204999316D52</string>
						<key>dateExpires</key>
						<string>09/07/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MKOtpView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7876EABCEE091001DCF94047393D204999316D52</string>
						<key>dateExpires</key>
						<string>09/07/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MMDrawerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7876EABCEE091001DCF94047393D204999316D52</string>
						<key>dateExpires</key>
						<string>09/07/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7876EABCEE091001DCF94047393D204999316D52</string>
						<key>dateExpires</key>
						<string>09/07/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7876EABCEE091001DCF94047393D204999316D52</string>
						<key>dateExpires</key>
						<string>09/07/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftMessages.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7876EABCEE091001DCF94047393D204999316D52</string>
						<key>dateExpires</key>
						<string>09/07/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2PV4857K82.com.mechucubie.GroceryUser</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2PV4857K82</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>2PV4857K82.com.mechucubie.GroceryUser</string>
				</array>
			</dict>
			<key>name</key>
			<string>GroceryUser.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a662fd94-c4f2-4312-b212-a70904df48b2</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2PV4857K82</string>
				<key>name</key>
				<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
