<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GroceryUser.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7876EABCEE091001DCF94047393D204999316D52</string>
				<key>dateExpires</key>
				<string>09/07/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7876EABCEE091001DCF94047393D204999316D52</string>
						<key>dateExpires</key>
						<string>09/07/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7876EABCEE091001DCF94047393D204999316D52</string>
						<key>dateExpires</key>
						<string>09/07/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CountryPickerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7876EABCEE091001DCF94047393D204999316D52</string>
						<key>dateExpires</key>
						<string>09/07/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7876EABCEE091001DCF94047393D204999316D52</string>
						<key>dateExpires</key>
						<string>09/07/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7876EABCEE091001DCF94047393D204999316D52</string>
						<key>dateExpires</key>
						<string>09/07/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7876EABCEE091001DCF94047393D204999316D52</string>
						<key>dateExpires</key>
						<string>09/07/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7876EABCEE091001DCF94047393D204999316D52</string>
						<key>dateExpires</key>
						<string>09/07/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstanceID.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7876EABCEE091001DCF94047393D204999316D52</string>
						<key>dateExpires</key>
						<string>09/07/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7876EABCEE091001DCF94047393D204999316D52</string>
						<key>dateExpires</key>
						<string>09/07/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7876EABCEE091001DCF94047393D204999316D52</string>
						<key>dateExpires</key>
						<string>09/07/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7876EABCEE091001DCF94047393D204999316D52</string>
						<key>dateExpires</key>
						<string>09/07/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7876EABCEE091001DCF94047393D204999316D52</string>
						<key>dateExpires</key>
						<string>09/07/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MKOtpView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7876EABCEE091001DCF94047393D204999316D52</string>
						<key>dateExpires</key>
						<string>09/07/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MMDrawerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7876EABCEE091001DCF94047393D204999316D52</string>
						<key>dateExpires</key>
						<string>09/07/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7876EABCEE091001DCF94047393D204999316D52</string>
						<key>dateExpires</key>
						<string>09/07/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RangeSeekSlider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7876EABCEE091001DCF94047393D204999316D52</string>
						<key>dateExpires</key>
						<string>09/07/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7876EABCEE091001DCF94047393D204999316D52</string>
						<key>dateExpires</key>
						<string>09/07/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7876EABCEE091001DCF94047393D204999316D52</string>
						<key>dateExpires</key>
						<string>09/07/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SkyFloatingLabelTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7876EABCEE091001DCF94047393D204999316D52</string>
						<key>dateExpires</key>
						<string>09/07/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftMessages.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7876EABCEE091001DCF94047393D204999316D52</string>
						<key>dateExpires</key>
						<string>09/07/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7876EABCEE091001DCF94047393D204999316D52</string>
						<key>dateExpires</key>
						<string>09/07/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2PV4857K82.com.newgroceryuser</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2PV4857K82</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>GroceryUser.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>aabef295-96ab-4d87-ae64-336fddccea6d</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.newgroceryuser</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2PV4857K82</string>
				<key>name</key>
				<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
